<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <h2>Pedidos por Cliente</h2><br><br>
    <table border="2" width=100%>
   		<tr>
			<th>ID</th>
			<th>Fecha</th>
			<th>Total</th>
			<th>Cliente</th>
			<th>Comercial</th>
		</tr>
		<tr th:each="pedido : ${pedidos}">
			<td th:text="${pedido.idPedido}"></td>
			<td th:text="${pedido.fecha}"></td>
			<td th:text="${pedido.total}"></td>
			<td th:text="${pedido.cliente}"></td>
			<td th:text="${pedido.comercial}"></td>
		</tr>
    </table><br><br>
    <a th:href="@{/clientes}">Volver a Clientes</a>
</body>
</html>